{%extends 'index_principal_encargados.html' %} {% block extraheader %} {% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Datos encargado</center></h3>
        </div>
      </div>
      <div class="formularios">
        <form method="post">
          {% csrf_token %}
          <br>
          <div class="input-group">
            <span class="input-group-addon">Nombre del Encargado:</span>
            <input value="{{encargado.nombre_encargado}}" type="text" class="form-control" name="nombre_encargado" placeholder="Nombre de encargado">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Apellido del encargado:</span>
            <input value="{{encargado.apellido_encargado}}" type="text" class="form-control" name="apellido_encargado" placeholder="Apellido de encargado">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">DUI del encargado:</span>
            <input value="{{encargado.dui}}" type="text" class="form-control" name="dui" placeholder="dui de encargado">
          </div>
          <br>
          <div class='input-group '>
            <span class="input-group-addon validity ">Fechas/Nac/Encargado || <i class="glyphicon glyphicon-calendar"></i></span>

            <input value="{{encargado.fecha_nacimiento_encargado}}" class="form-control" type="date" id="party" name="fecha_nacimiento_encargado" >
          </div>
          <br>
          <div class="panel panel-primary ">
            <div class="panel-heading">
              <h3 class="panel-title"><i class=""></i><center>Datos Madre</center></h3>
            </div>
          </div>
          {# DATOS DE LA MADRE #}
          <div class="input-group">
            <span class="input-group-addon">Nombre de la madre:</span>
            <input value="{{encargado.nombre_madre}}" type="text" class="form-control" name="nombre_madre" placeholder="Nombre de la madre">
          </div>
          <br>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Dui de la madre:</span>
            <input value="{{encargado.dui_madre}}" type="text" class="form-control" name="dui_madre" placeholder="Numero de Dui sin guiones">
          </div>
          <br>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Ocupacion de la madre:</span>
            <input value="{{encargado.ocupacion_madre}}" type="text" class="form-control" name="ocupacion_madre" placeholder="Ocupacion">
          </div>
          <br>
          <div class="panel panel-primary ">
            <div class="panel-heading">
              <h3 class="panel-title"><i class=""></i><center>Datos Padre</center></h3>
            </div>
          </div>
          {# DATOS DEL PADRE #}

          <div class="input-group">
            <span class="input-group-addon">Nombre del padre:</span>
            <input value="{{encargado.nombre_padre}}" type="text" class="form-control" name="nombre_padre" placeholder="Nombre del padre">
          </div>
          <br>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Dui del padre:</span>
            <input value="{{encargado.dui_padre}}" type="text" class="form-control" name="dui_padre" placeholder="Numero de Dui sin guiones">
          </div>
          <br>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Ocupacion del padre:</span>
            <input value="{{encargado.ocupacion_padre}}" type="text" class="form-control" name="ocupacion_padre" placeholder="Ocupacion">
          </div>
          <br>

      </div>
    </div>
    {# DATOD DEL ALUMNO #}
    <div class="col-md-5">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Datos de alumnno</center></h3>
        </div>
      </div>
      <div class="formularios">
        <br>
        <div class="input-group">
          <span class="input-group-addon">Nombre de Alumno:</span>
          <input value="{{alumno.nombre}}" type="text" class="form-control" name="nombre" placeholder="Nombre de alumno">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Apellido de Alumno:</span>
          <input value="{{alumno.apellido}}" type="text" class="form-control" name="apellido" placeholder="Apellido de alumno">
        </div>
        <br>
        <div class='input-group '>
          <span class="input-group-addon validity ">Fechas/Nacimiento || <i class="glyphicon glyphicon-calendar"></i></span>

          <input value="{{alumno.fecha_nacimiento}}" class="form-control" type="date" id="party" name="fecha_nacimiento" min="2010-04-01" max="2015-04-20" required>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Docente a Cargo</span>
          <option value="{{docente_encargado.id}}">{{form2.docente_encargado}} </option>
        </div>

        <br>
        <div class="input-group">
          <span class="input-group-addon">Direccion del alumno</span>
          <input value="{{alumno.direccion_actual}}" type="text" class="form-control" name="direccion_actual" placeholder="Direccion del infante">
        </div>
        <br>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Telefono de casa</span>
          <input value="{{alumno.telefono_actual_casa}}" type="text" class="form-control" name="telefono_actual_casa" placeholder="Celular o fijo">
        </div>
        <br>

        <br>
        <div class="input-group">
          <span class="input-group-addon">Ultimo Centro de estudios</span>
          <input value="{{alumno.ultimo_centro_de_estudio}}" type="text" class="form-control" name="ultimo_centro_de_estudio" placeholder="Ingrese el lugar anterior">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">Comentarios <br><br>importantes</span>
          <textarea class="form-control" type="text" name="comentarios" value="{{alumno.comentarios}}" rows="4" cols="8"></textarea>
        </div>
        </div>

        <button type="submit">Guardar Registro</button>
        </form>

    </div>
  </div>
</div>
<br><br> {% endblock %}
