 {%extends 'base/base.html' %}
 {% load staticfiles %}
  {% block side_bar %}

<div class="container col-md-2 ">

  <div class="tabbable tabs-left ">

    <ul class="nav nav-tabs">

        <a href=""class="list-group-item active"><h5> Encargados</h5></a>
      <li class="nav-tabs"></li>
      <li><a href="{% url 'encargados:nuevo'%}" data-toggle="tab">Nuevo Registro</a></li>
      <li><a href="{% url 'encargados:listado'%}" data-toggle="tab">Lista de padres y encargados</a></li>
      <li><a href="#" data-toggle="tab">Ver por grados</a></li>
      <li><a href="#" data-toggle="tab">Reportes</a></li>
    </ul>
  </div>

</div>

{% endblock side_bar %} {% block content %}
<div class="bs-calltoaction bs-calltoaction-primary">
  <div class="row">
    <div class="col-md-8 cta-contents">
      <img src="{% static "img/mined.png" %}" width="75" height="75" alt="My image"/>

      <h1 class="text-info">Datos de Persona Encargada:</h1>
      <div class="cta-desc">
        <li class="text-warning">
          DUI
        </li>
        <li class="text-warning">
          NIT
        </li>
        <li class="text-warning">
          TELEFONO
        </li>
        <br>
      </div>
    </div>
    <div class="col-md-3 cta-button">
      <a href="#" class="btn btn-lg btn-block btn-primary">Descarga formulario de encargados</a>
    </div>
  </div>
</div>
  {% endblock content %}
