 {%extends 'index_principal_encargados.html' %}
 {% load staticfiles %}
 {% block extraheader %}
 <link rel="stylesheet" href="{% static 'css/datatables.min.css '%}">
 {% endblock extraheader %}
  {% block content %}
<div class="container-fluid col-sm-9">
  <div class="row-fluid">
    <div class="table-responsive ">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Listado de Encargados/padres</center></h3>
        </div>
      </div>
      <table class="table   table-striped table-bordered table-hover table-condensed table-responsive" table id="Jtabla" class="display" cellspacing="0" width="100%">
        <thead>
          <tr class="success" >
            <th>Codigo del Encargado</th>
            <th>NOMBRE Padre o Encargado</th>
            <th>APELLIDO Padre o Encargado</th>
            <th>NUMERO DE DUI</th>
            <th>CODIGO ALUMNO</th>
            <th>Alumno bajo cargo</th>
        </thead>
        <tbody>
          <tr>
            {% if object_list %} {% for encargado in object_list%}
            <td>{{encargado.id}}</td>
            <td> {{encargado.nombre_encargado}}</td>
            <td> {{encargado.apellido_encargado}}</td>
            <td>{{encargado.dui}}</td>
            <td>{{encargado.alumno.id}}</td>
            <td>  {{encargado.alumno.nombre}}</td>
        </tr>
          {%endfor%}
          {%else%}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <h3><strong>No hay registros de encados</strong></h3>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <script src="{% static 'TableFilter/tablefilter.js'%}"></script> -->
 <script src="{% static 'js/filtro_Jtabla_Id.js'%}"></script>
 <!-- <script src="{% static 'js/fecha.js'%}"></script> -->
 <!--llamando el archivo de fitro DataTables-->
{% endblock %}
