{%extends 'index_principal.html' %} {% load staticfiles%}
{% block extraheader %}

 {% endblock %}
 {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Registro de los  alumnnos</center></h3>
        </div>
      </div>
      <div class="formularios">

        <form method="post">
          {% csrf_token %}

          <br>
          <div class="input-group">
            <span class="input-group-addon">Nombre de Alumno:</span>
            <input value="{{alumno.nombre}}" type="text" class="form-control" name="nombre" placeholder="Nombre de alumno">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Apellido de Alumno:</span>
            <input value="{{alumno.apellido}}" type="textarea" class="form-control" name="apellido" placeholder="Apellido de alumno">
          </div>

          <br>

      <div class='input-group '>

            <span class="input-group-addon validity">Fechas/Nacimiento || <i class="glyphicon glyphicon-calendar"></i></span>

            <input value="{{alumno.fecha_nacimiento}}" class="form-control" type="date" id="" name="fecha_nacimiento" min="2010-04-01" max="2015-04-20" required>

      </div>
      <br>
      <div class="input-group">

        <span class="input-group-addon">Docente a Cargo</span>
        <option value="{{docente_encargado.id}}">{{form.docente_encargado}} </option>

      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon">Direccion actual </span>
        <input value="{{alumno.direccion_actual}}" type="text" class="form-control" name="direccion_actual" placeholder="Direccion donde vive">

      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon">Telefono casa</span>
        <input value="{{alumno.telefono_actual_casa}}" type="text" class="form-control" name="telefono_actual_casa" placeholder="Telefono casa">

      </div>
      <br>

      <div class="input-group">
        <span class="input-group-addon">Ultimo Centro de estudios</span>
        <input value="{{alumno.ultimo_centro_de_estudio}}" type="text" class="form-control" name="ultimo_centro_de_estudio" placeholder="Ingrese el lugar anterior">

      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Comentarios <br><br>importantes</span>
        <textarea  value="{{alumno.comentarios}}" class="form-control" type="text" name="comentarios"  rows="6" cols="15"></textarea>
      </div>
      <br>
      <button type="submit">Guardar</button>
      </form>
    </div>
  </div>
</div>
</div>


{% endblock %}
