{%extends 'index_principal.html' %} {% load staticfiles %} {% block extraheader %}


{% endblock extraheader %} {% block content %}
     <form method="post">
       {% csrf_token %}

       <div class="col-md-5">
         <div class="panel panel-primary ">
           <div class="panel-heading">
             <h3 class="panel-title"><i class=""></i><center><strong>Nombre: </strong>{{alumno.nombre}} {{alumno.apellido}} <strong>ID: </strong>{{alumno.id}}</center></h3>
           </div>
         </div>
         <div class="formularios">
           <br>
           <div class="input-group">
             <span class="input-group-addon"><strong> Nombre de Alumno</strong> </span>
             <input value="{{alumno.nombre}}" type="text" class="form-control" name="nombre" placeholder="Nombre de alumno"  disabled>
           </div>
           <br>
           <div class="input-group">
             <span class="input-group-addon"><strong>Apellido de Alumno</strong> </span>
             <input value="{{alumno.apellido}}" type="text" class="form-control" name="apellido" placeholder="Apellido de alumno" disabled>
           </div>
           <br>
           <div class='input-group '>
             <span class="input-group-addon validity "><strong>Fechas/Nacimiento |</strong>  <i class="glyphicon glyphicon-calendar"></i></span>

             <input value="{{alumno.fecha_nacimiento}}" class="form-control" type="text" name="fecha_nacimiento" disabled>
           </div>
           <br>
           <div class="input-group">
             <span class="input-group-addon"><strong>Docente a Cargo:</strong> </span>
             <input value="{{alumno.docente_encargado}}"type="text" class="form-control" name="docente_encargado" disabled>
           </div>

           <br>
           <div class="input-group">
             <span class="input-group-addon"><strong>Direccion del alumno:</strong> </span>
             <input value="{{alumno.direccion_actual}}" type="text" class="form-control" name="direccion_actual" disabled>
           </div>
           <br>
           <br>
           <div class="input-group">
             <span class="input-group-addon"><strong> Telefono de casa</strong></span>
             <input value="{{alumno.telefono_actual_casa}}" type="text" class="form-control" name="telefono_actual_casa" disabled>
           </div>
           <br>

           <br>
           <div class="input-group">
             <span class="input-group-addon"><strong>Ultimo Centro de estudio:</strong> </span>
             <input value="{{alumno.ultimo_centro_de_estudio}}" type="text" class="form-control" name="ultimo_centro_de_estudio" disabled>
           </div>
           <br>

           </div>

           </form>
           <a href="{% url 'alumnos:listado'%}" class="btn btn-primary "><span class="glyphicon glyphicon-pencil"></span> Volver al listado</a>


</div>

<!-- <script src="{% static 'TableFilter/tablefilter.js'%}"></script> -->


<!-- <script src="{% static 'js/fecha.js'%}"></script> -->
<!--llamando el archivo de fitro DataTables-->

{% endblock %}
