{%extends 'index_principal.html' %} {% load staticfiles%} {% block extraheader %} {% endblock %} {% block content %}


<div class="container">
  <div class="row ">
    <div class="col-md-offset-1 col-md-4">
      <div class="eliminar">


        <form method="post">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
           <strong> Desea eliminiar el alumno:<br>{{alumno.nombre}} {{alumno.apellido}}</strong> <br><br>


          {% csrf_token %}

          <button class="btn btn-danger" type="submit" value="Confirm">Si</button>
          <a class="btn btn-default" href="{% url 'alumnos:listado' %}">Cancelar</a>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
