 {%extends 'base/base.html' %}
{% load staticfiles %}
{% block extraheader %}

{% endblock %}

  {% block side_bar %}

<div class="container col-sm-2 ">

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
      <span href="{%url 'alumnos:index_alumnos'%}" class="list-group-item active"><h5>Alumnos</h5></span>
      <li class="nav-tabs"></li>
      <li class="nav-tabs"></li>
      <li><a href="{%url 'alumnos:nuevo'%}" data-toggle="tab">Registrar nuevo</a></li>
      <li><a href="{%url 'alumnos:listado'%}" data-toggle="tab">Listado de Iscritos</a></li>
      <li><a href="#" data-toggle="tab">Cupos por grados</a></li>
      <li><a href="#" data-toggle="tab">Reportes</a></li>
    </ul>
  </div>
</div>


{% endblock side_bar %} {% block content %}
<div class="bs-calltoaction bs-calltoaction-primary">
  <div class="row">
    <div class="col-md-3 cta-contents">
      <img src="{% static "img/mined.png" %}" width="75" height="75" alt="My image"/>

      <h1 class="text-info">Requisitos de Registro:</h1>
      <div class="cta-desc">
        <li class="text-warning">
          Haber cancelado matricula
        </li>
        <li class="text-warning">
          Entregar hoja llena y firmada a docente
        </li>
        <br>
      </div>
    </div>
    <div class="col-md-3 cta-button">
      <a href="#" class="btn btn-lg btn-block btn-primary">Descarga ficha de incripcion</a>
    </div>
  </div>
</div>
{% endblock content %}
