.eliminar{
  background-color: rgb(124, 163, 200);
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  color: rgb(152, 62, 88);
  font-style: italic;
  font-size: 150%;
}
