#btn-menu {
  display: none;
}

label:hover {
  cursor: pointer;
}

#menu_icon:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#menu_icon {
  border-right: 2px solid rgb(187, 180, 182);
  border-left: 2px solid rgb(187, 180, 182);
  border-top: 2px solid rgb(187, 180, 182);
  border-bottom: 2px solid rgb(187, 180, 182);
  display: none;
  width: 60px;
  height: 60px;
  padding: 4px;
}

#bordes li {
  border-right: 1px solid rgb(187, 180, 182);
}

#navbar_menu ul {
  display: flex;
}

@media (max-width:768px) {
  #menu_icon {
    display: block;
  }
  /* centrar "registro de alumnos" */
  #navbar_menu ul {
    position: absolute;
    background: rgb(237, 231, 219);
    margin: 10px;
    flex-direction: column;
    margin-left: -80%;
    transition: all 0.5s;  
  }
  #bordes li {
    border-top: 1px solid rgb(187, 180, 182);
    border-bottom: 1px solid rgb(187, 180, 182);
  }
  #btn-menu:checked ~ #bordes{
    margin: 0;

  }
}
