{%extends 'index_principal_usuarios.html' %}
{% load staticfiles %}

  {% block extraheader %}
  {% endblock %}
  {% block content %}

<div class="container">



  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Registre aqui los  Usuarios</center></h3>
        </div>
      </div>
      <div class="formularios">
        <br>
      <form method="post">

        {% csrf_token %}
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="username" type="text" class="form-control" name="username" placeholder="Nombre de usuario">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Nombre:</span>
          <input id="first_name" type="text" class="form-control" name="first_name" placeholder="Nombre">
    </div>
    <br>
        <div class="input-group">
          <span class="input-group-addon">Apellido:</span>
          <input id="last_name" type="text" class="form-control" name="last_name" placeholder="Apellido">
      </div>
      <br>

          <div class="input-group">
            <span class="input-group-addon">@ejemplo.com</span>
            <input type="text" class="form-control" id="email" name="email"placeholder="Ingrese un Email valido">

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password1" name="password1" type="password" class="form-control" name="password" placeholder="Ingrese su Contraseña">
          </div>
          <br>
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password2" name="password2" type="password" class="form-control" name="password" placeholder="Confirme su Contraseña">
            </div>
            <br>
            <div class="alert alert-success"><p>Si todos los datos son correctos click en: <button type="submit" class="btn btn-success">GUARDAR</button></p>
            </div>


      </form>
  </div>
    </div>
  </div>

  {% endblock %}
