 {%extends 'base/base.html' %}
 {% load staticfiles %}
 {% block side_bar %}

<div class="container col-md-2 ">

  <div class="tabbable tabs-left ">

    <ul class="nav nav-tabs">

        <a href="{%url 'usuarios:index_usuarios'%}"class="list-group-item active"><h5> Usuarios</h5></a>
      <li class="nav-tabs"></li>
      <li><a href="{% url 'usuarios:nuevo' %}" data-toggle="tab">Crear Usuario</a></li>
      <li><a href="{% url 'usuarios:listado' %}" data-toggle="tab">Ver listado de usuarios</a></li>
      <li><a href="">Permisos de usuarios</a></li>
      <li><a href="" data-toggle="tab">Reportes</a></li>
    </ul>
  </div>

</div>

{% endblock side_bar %} {% block content %}
<div class="bs-calltoaction bs-calltoaction-primary">
  <div class="row">
    <div class="col-md-8 cta-contents">
      <img src="{% static "img/mined.png" %}" width="75" height="75" alt="My image"/>

      <h1 class="text-info">Registro de Usuarios</h1>
      <div class="cta-desc">
        <li class="text-warning">
          Que es un nombre de usuario
        </li>
        <li class="text-warning">
          Quienes que persimos debe tener un usuario
        </li>
        <li class="text-warning">
          Quien puede borrar un usuario
        </li>
        <br>
      </div>
    </div>

  </div>
</div>
  {% endblock content %}
