{%extends 'index_principal_usuarios.html' %}
 {% load staticfiles %}
 {% block extraheader %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css '%}"> {% endblock extraheader %} {% block content %}
<div class="container-fluid col-sm-9">
  <div class="row-fluid">
    <div class="table-responsive">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Listado de Usuarios</center></h3>
        </div>
      </div>
      <table class="table  table-bordered table-hover table-condensed table-responsive" table id="Jtabla" class="display" cellspacing="0" width="100%">
        <thead>
          <tr class="success">
            <th>Nombre de usuarios</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email de recuperacion</th>
            <th>Fecha de Ingreso al sistema</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            {% if object_list%} {% for usuario in object_list%}
            <td> {{usuario.username}}</td>
            <td> {{usuario.first_name}}</td>
            <td>{{usuario.last_name}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.last_login}}</td>

                      </tr>
          {%endfor%} {%else%}
          <h1>No hay ningun Docente Registrado</h1> {%endif%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{% static 'js/filtro_Jtabla_Id.js'%}"></script>

{% endblock %}
