{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>{% block titulo %} MATRICULA {% endblock titulo %}</title>

 </head>

<body>


  {% block header %}

 
 {% endblock header %} {% block side_bar %} {% endblock side_bar %} {% block content %} {% endblock content %} {% block footer %} {% endblock footer %}




</body>

</html>
