 {%extends 'index_principal.html' %}
 {% load staticfiles %}
  {% block header %}

  {% endblock %}
   {% block content %}

  {% block side_bar %}
  {% endblock %}
  {% block extraheader %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
<link rel="stylesheet" href="{% static 'css/logo_kinder.css'%}">

 {% endblock %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <br>
    <br>
    <br>
      <div class="fadeIn first">
        <img src="{% static "img/usuario.svg" %}" width="120" height="150" alt="" id="icon" alt="User Icon" />
        <br>
        <br><br>
      </div>

      <!-- Login Form -->
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for=""></label>
          <input  id="" class="fadeIn second" type="text" name="username" placeholder="Nombre Usuario">

          <p class="help-block"><strong><h5> Ingrese su Usuario</h5> </strong></p>
        </div>

        <div class="form-group">
          <label for=""></label>
          <input class="fadeIn third " placeholder="Password" name="password" type="password" value="">
          <p class="help-block"><strong><h5> Ingrese Contrasena</h5> </strong></p>
        </div>


  <input type="submit" class="fadeIn fourth" value="Ingresar">


  <!-- Remind Passowrd -->
  <div id="formFooter">
    <a class="underlineHover" href="{% url 'password_reset' %}">Olvide mi contrasena</a>
  </div>
  </form>
</div>
</div>


{% endblock %}
