{%extends 'base_inicio.html' %}

{% block content %}
  <h3>Recuperar Contrasena</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}
