{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>{% block titulo %} MATRICULA {% endblock titulo %}</title>

  <link rel="stylesheet" href="{% static 'bootstrap-3.3.0/dist/css/bootstrap.min.css'%}" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'css/side_bar.css'%}">
  <link rel="stylesheet" href="{% static 'css/datatables.min.css '%}">
  <link rel="stylesheet" href="{% static 'css/TODOS_LOS_CRUDS.css'%}">
  <link rel="stylesheet" href="{% static 'css/eliminar.css'%}">
  <link rel="stylesheet" href="{% static 'css/menu_responsivo.css'%}">


  <!-- {# ARCHIVOS JS #} -->
  <script src="{% static 'bootstrap-3.3.0/dist/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'Jquery/jquery-1.12.4.js'%}"></script>
  <script src="{% static 'js/moment.js'%}"></script>
  <script src="{% static 'js/monment_es.js'%}"></script>
  <script src="{% static 'js/datatables.min.js'%}"></script>







  <!------ Include the above in your HEAD tag ---------->
</head>

<body>


  {% block header %}

  <br>
  <div class="container-fluid ">
    <!-- Second navbar for categories -->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation"  id="navbar_menu">
      <input type="checkbox" name="" value="" id="btn-menu">
      <label id="menu_icon" for="btn-menu"> <img src="{% static "img/menu.png" %}" width="50" height="50 " alt="|"/>
      </label>

        <!-- Brand and toggle get grouped for better mobile display -->







               <ul class="nav navbar-nav navbar-left" >
                <li ><a href="{%url 'alumnos:index_alumnos'%}">REGISTRO DE MATRICULA KINDERGARTEN</a></li>
               </ul>
            <ul class="nav navbar-nav navbar-right" id="bordes">
            <li><a href="{%url 'alumnos:index_alumnos'%}">Registro Alumnos</a></li>
            <li><a href="{%url 'docentes:index_docentes'%}">Docentes</a></li>
            <li><a href="{%url 'encargados:index_encargados'%}">Encargados</a></li>
            <li><a href="{%url 'docentes:index_secciones'%}">Secciones</a></li>
            <li><a href="{%url 'usuarios:index_usuarios'%}">Administracion de usuarios</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="{%url 'logout' %}">Terminar Sesion</a></li>
            </ul>





      <!-- /.container -->
    </nav>
    <!-- /.navbar -->

  </div>




<br>
<br>
<br>
 {% endblock header %} {% block side_bar %} {% endblock side_bar %} {% block content %} {% endblock content %} {% block footer %} {% endblock footer %}




</body>

</html>
