<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
        <style type="text/css">
            body {
                font-weight: 50;
                font-size: 10px;
                color: rgb(106, 109, 140);
            }
            h3{
                text-align: center;
                font-size: 14px;
                color: black;
                 }
             table {
                 border:10px;
               border-collapse:collapse;
               width: 100%;
             }
             th,td {
               text-align: left;
                padding: 8px;
                border-bottom: 1px solid #ddd;
               }
                tr:nth-child(even){
                  background-color: #f2f2f2
                }
                th{
                    color:rgb(5, 17, 11);
                     }
        </style>
    </head>
    <body>
        <h3><strong> Listado de Alumnos</strong> </h3>
      <table>
        <thead>
          <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>Fecha de Nacimiento</th>
            <th>Docente a cargo</th>
            <th>Ultimo lugar de estudios</th>
            <th>Comentarios del alumno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if alumnos %} {% for alumno in alumnos%}
            <td>{{alumno.id}}</td>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellido}}</td>
            <td>{{alumno.fecha_nacimiento}}</td>
            <td>{{alumno.docente_encargado}}</td>
            <td>{{alumno.ultimo_centro_de_estudio}}</td>
            <td>{{alumno.comentarios}}</td>
          </tr>

          {%endfor%} {%else%}
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <h3><strong>No hay registros de alumnos</strong></h3>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </body>

</html>
