{%extends 'index_principal_secciones.html' %} {% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-md-5">
			<div class="panel panel-primary ">
				<div class="panel-heading">
					<h3 class="panel-title"><i class=""></i><center>Crear Secciones</center></h3>
				</div>
			</div>
			<form method="post">

				{% csrf_token %}
				<div class="input-group">
					<div class="form-group">
						<label for="sel1">Select list:</label>
						<select class="form-control" id="" name="turno">
							 <option>MATUTINO</option>
							 <option>TARDE</option>
							 <option>FIN DE SEMANA</option>

 					 	</select>
					</div>

				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon">Nombre</span>
					<input type="text" name="nombre_seccion" class="form-control" placeholder="Nombre de la seccion">

				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon">Cupos </span>
					<input type="text" name="cupor_por_seccion" class="form-control" placeholder="Asignar numero de cupo">

				</div>
				<br>
				<button type="submit">Guardar</button>

			</form>
		</div>
	</div>
</div>
{% endblock %}
