{%extends 'index_principal_docentes.html' %} {% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-offset-1 col-md-4">
			<div class="panel panel-primary ">
				<div class="panel-heading">
					<h3 class="panel-title"><i class=""></i><center>Registro de Docentes</center></h3>
				</div>
			</div>
			<div class="formularios">
				<form method="post">

					{% csrf_token %}
					<br>
					<div class="input-group">
						<span class="input-group-addon">Nombre del Docente:</span>
						<input value="{{docente.nombre}}" type="text" class="form-control" name="nombre" placeholder="Nombre de Docente">
					</div>
					<br>
					<br>
					<div class="input-group">
						<span class="input-group-addon">Apellido del Docente:</span>
						<input value="{{docente.apellido}}" type="text" class="form-control" name="apellido" placeholder="Apellido Docente">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">DUI:</span>
						<input value="{{docente.dui_docente}}" type="text" class="form-control" name="dui_docente" placeholder="Numero de Dui sin guiones">
						<br>
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon">NIP:</span>
						<input value="{{docente.nip_docente}}" type="text" class="form-control" name="nip_docente" placeholder="Numero de identificacion docente">
						<br>
					</div>
					<br>
					<div class="input-group">
	          <span class="input-group-addon">Seccion a cargo</span>
	          <option value="{{docente.id}}">{{form.seccion_cargo}} </option>
	        </div>
					<br>
					<button type="submit">Guardar</button>

				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
