{%extends 'index_principal.html' %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
                <form method="post">

                    {% csrf_token %}
                    <h3><strong>¿Desea borrar el Docente :{{docente.nombre}} {{docente.apellido}}?</strong> </h3>

                    <button class="btn btn-danger btn-destroy" type="submit">Borrar</button>
                    <a href="{%url 'docentes:listado'%}" class="btn btn-primary a-btn-slide-text">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span>Cancelar</span>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
