 {%extends 'base/base.html' %}
 {% load staticfiles %}
 {% block side_bar %}

<div class="container col-md-2 ">

  <div class="tabbable tabs-left">

    <ul class="nav nav-tabs">
    <a href="" data-toggle="tab"class="list-group-item active"><h5>Secciones</h5></a>
      <li class="nav-tabs"></li>
      <li class="nav-tabs"></li>
      <li><a href="{% url 'docentes:nuevas_secciones'%}" data-toggle="tab">Crear seccion</a></li>
      <li><a href="{% url 'docentes:listados_secciones'%}" data-toggle="tab">Listado de secciones</a></li>
      <li><a href="" data-toggle="tab">Cupos limite por seccion</a></li>
      <li><a href="" data-toggle="tab">Reportes</a></li>
    </ul>
  </div>

</div>

{% endblock side_bar %} {% block content %}
<div class="bs-calltoaction bs-calltoaction-primary">
  <div class="row">
    <div class="col-md-8 cta-contents">
      <img src="{% static "img/mined.png" %}" width="75" height="75" alt="My image"/>

      <h1 class="text-info">Secciones de nuestro centro educativo</h1>
      <div class="cta-desc">
        <li class="text-warning">
          Clasificacion
        </li>
        <li class="text-warning">
          Edades permitidas
        </li>
        <li class="text-warning">
          Datos importantes
        </li>
        <br>
      </div>
    </div>

  </div>
</div>
  {% endblock content %}
