{%extends 'index_principal_secciones.html' %}
{% load staticfiles %}
{% block extraheader %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css '%}"> {% endblock extraheader %} {% block content %}
<div class="container-fluid col-sm-9">
  <div class="row-fluid">
    <div class="table-responsive">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Listado de Docentes</center></h3>
        </div>
      </div>
      <table class="table  table-bordered table-hover table-condensed table-responsive" table id="Jtabla" class="display" cellspacing="0" width="100%">
        <thead>
          <tr class="success">
            <th>Seccion</th>
            <th>Turno</th>
            <th>Cupos asignados</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            {% if object_list%} {% for seccion in object_list%}
            <td> {{seccion.nombre_seccion}}</td>
            <td> {{seccion.turno}}</td>
            <td>{{seccion.cupor_por_seccion}}</td>

          </tr>
          {%endfor%} {%else%}
          <h1>No hay ningun Docente Registrado</h1>
          {%endif%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{% static 'js/filtro_Jtabla_Id.js'%}"></script>

{% endblock %}
