{%extends 'index_principal_docentes.html' %} {% load staticfiles %} {% block extraheader %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css '%}"> {% endblock extraheader %} {% block content %}
<div class="container-fluid col-sm-9">
  <div class="row-fluid">
    <div class="table-responsive">
      <div class="panel panel-primary ">
        <div class="panel-heading">
          <h3 class="panel-title"><i class=""></i><center>Listado de Docentes</center></h3>
        </div>
      </div>
      <table class="table  table-bordered table-hover table-condensed table-responsive" table id="Jtabla" class="display" cellspacing="0" width="100%">
        <thead>
          <tr class="success">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Grado a cargo</th>
            <th>DUI DEL DOCENTE</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if object_list%} {% for docente in object_list%}
            <td> {{docente.nombre}}</td>
            <td> {{docente.apellido}}</td>
            {% if docente.seccion_cargo%}
            <td>{{docente.seccion_cargo}}</td>
            {% else %}
            <td></td>
            {%endif%}
            <td>{{docente.dui_docente}}</td>
            <td>
              <a href="{% url 'docentes:editar' docente.id %}" class="btn btn-primary "><span class="glyphicon glyphicon-pencil"></span> Editar</a>
              <a href="{% url 'docentes:borrar' docente.id %}" class="btn btn-danger btn-destroy "><span class="glyphicon glyphicon-pencil"></span> Borrar</a>
            </td>
          </tr>
          {%endfor%} {%else%}
          <h1>No hay ningun Docente Registrado</h1> {%endif%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="{% static 'js/filtro_Jtabla_Id.js'%}"></script>

{% endblock %}
